@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;700&display=swap');
* {font-family: 'Geologica', sans-serif;}
body {
  margin: 0px;
  width: 100vw;
  height: 300vh;
  /* overflow: hidden; */
}

/* .box {
  width: 100px;
  height: 100px;
  background-color: red;

  margin-top: 50px;
  margin-left: 50px;

  animation: rotate 1s linear forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
} */

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */


/* @keyframes rotate {
  to {
    transform: rotate(180deg);
  }
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 95vh;
}

.home-top-spacer {
  width: 100vw;
  height: 5vh;
}

.img-container-top {
  width: 90vw;
  margin-left: 5vw;
  display: flex;
}

.img-container-bottom {
  position: relative;
  bottom: 60px;
  width: 90vw;
  margin-left: 5vw;
  display: flex;
}

@media only screen and (min-device-width: 600px) {
  
  .img-container-top {
    width: 45vw;
    /* margin-left: 15 */

    margin-left: 20vw;
  
    animation: slideleft 1s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  .img-container-bottom {
    width: 45vw;

    margin-left: 100vw;
  
    animation: slideright 1s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes slideright {
    0% {
      margin-left: 55vw;
    }
    40% {
      margin-left: 35vw;
    }
    100% {
      margin-left: 35vw;
    }
  }

  @keyframes slideleft {
    0% {
      margin-left: 0vw;
    }
    40% {
      margin-left: 20vw;
    }
    100% {
      margin-left: 20vw;
    }
  }

}

.img-balloon-flowers {
  width: 20vw;
}

.img-balloon-dress {
  width: 20vw;
}

.img-caption {
  font-size: 15px;
  margin: 4px;
  /* background-color: blue; */
}

.img-discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: left; */
}

.img-discription-text {
  text-align: left;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

.smaller-img-discription-text {
  text-align: left;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 18px;
  position: relative;
  bottom: 20px;
}

/* h1 {
    text-align: center;
    margin: 5px;
} */
p {
  font-family: 'Geologica', sans-serif;
    text-align: center;
    font-size: 17px;
    margin: 5px;
}
.center-text {
    width: 550px;
    /* height: 300px; */
}
h1 {
  font-family: 'Geologica', sans-serif;
  text-align: center;
    margin: 5px;
    /* position: absolute; */
    /* left: 0px; */
    /* background-color: rgb(250, 200, 200); */
    font-size: 90px;
    line-height: 90%;
    background-image: linear-gradient(90deg, red, orange, rgb(239, 211, 0), green, blue, purple);
    /* text-shadow: 5px 5px 5px black; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}
.red {
    position: absolute;
    top: 3vw;
    left: 5vw;
    background-color: red;
}
.red::before {
    border-bottom: 20px solid red;
}
.purple::before {
    border-bottom: 20px solid purple;
}
.orange::before {
    border-bottom: 20px solid orange;
}
.orange {
    position: absolute;
    top: 21vw;
    left: 15vw;
    background-color: orange;
}
.yellow::before {
    border-bottom: 20px solid rgb(241, 241, 17);
}
.yellow {
    position: absolute;
    top: 8vw;
    left: 25vw;
    background-color: rgb(241, 241, 17);
}
/* rgb(241, 241, 17) */
.green::before {
    border-bottom: 20px solid rgb(0, 195, 0);
}
.green {
    position: absolute;
    top: 8vw;
    right: 25vw;
    background-color: rgb(0, 195, 0);
}
.blue::before {
    border-bottom: 20px solid blue;
}
.blue {
    position: absolute;
    top: 25vw;
    right: 13vw;
    background-color: blue;
}
.purple {
  position: absolute;
  top: 4vw;
  right: 5vw;
  background-color: purple;
}
.balloon {
    width: 100px;
    height: 130px;
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
  }
  .balloon::before {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
      
    
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  .balloon::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
  }

  svg {
    display: block;
    /* width: inherit; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  path {
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
    width: 500px;
    z-index: -1;
  }
  .string-container {
    transform: rotate(0.25turn);
  }
  .string {
    position: relative;
    left: 40px;
    top: 15px;
    width: 500px;
  }

@media only screen and (max-width: 1250px) {
  .balloon {
    transform: scale(.7,.7);
    /* background-color: red; */
  }
}

@media only screen and (max-width: 900px) {
  .balloon {
    transform: scale(.5,.5);
  }
}
.arrow-container {
  position: absolute;
  bottom: 20px;
  width: 130px;
  /* height: 250px; */
  /* transform: scale(0.8, 0.8); */
  /* background-color: green; */
}

.arrow-text {
  /* width: 18vh; */
  text-align: center;
  /* background-color: orange; */
  font-size: 15px;
  margin: 0px;
  padding-bottom: 10px;
}

img {
  width: 100%;
}

.arrow-top {
  position: absolute;
  width: 3vh;
  height: 10vh;
  top: 5vh;
  left: 7.5vh;
  background-color: black;
}

.arrow-bottom {
  position: absolute;
  top: 14vh;
  left: 5vh;

  width: 0; 
  height: 0; 
  border-left: 4vh solid transparent;
  border-right: 4vh solid transparent;
  border-top: 5vh solid black;
}

.rainbow-fade1 {
  animation: rainbowfade1 15s infinite;
}

.rainbow-fade2 {
  animation: rainbowfade2 15s infinite;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

.menu-header {
  width: 100vw;
  text-align: center;
  font-size: 35px;
  margin: 10px;
}

.menu-hr {
  width: 35vw;
  margin-left: 32.5vw;
  height: 2px;
  background-color: black;
}

.menu-discription {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50vw;
  margin-left: 25vw;
  /* background-color: blue; */
}

.menu-imgs {
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-img {
  height: 250px;
  width: 250px;
  border-bottom: 2px rgb(69, 69, 69) solid;
  /* box-shadow: 5px 5px 15px #bebebe; */
  margin: 10px;
}

.img-container {
  display: flex;
  flex-direction: column;
}

.menu-img-caption {
  font-size: 17px;
  text-align: center;
  margin: 0px;
}

footer {
  /* border-top: 2px solid black; */
  width: 100vw;
  margin-top: 40px;
  height: 175px;
  /* background-color: #f1f0f0; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.footer-title {
  width: fit-content;
  font-family: 'Geologica', sans-serif;
  text-align: center;
  margin: 25px 5px 5px 5px;
  font-size: 30px;
  line-height: 90%;
  background-image: linear-gradient(90deg, red, orange, rgb(239, 211, 0), green, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}

.footer-contact {
  font-size: 15px;
  /* font-weight: 600; */
}

.bottom-footer-text {
  width: 100vw;
  position: absolute;
  bottom: 0px;
  text-align: center;
  /* font-family: 'Crimson Text', serif; */
  font-weight: 600;
  font-size: 14px;
  margin: 10px;
}



@media only screen and (min-device-height: 1050px) {
  .red {
    top: 17vh;
  }
  .orange {
    top: 32vh;
  }
  .yellow {
    top: 18vh;
  }
  .green {
    top: 18vh;
  }
  .blue {
    top: 38vh;
  }
  .purple {
    top: 21vh;
  }

}

@media only screen and (max-width: 1150px) {
  .smaller-img-discription-text {
    font-size: 14px;
  }
  .img-discription-text {
    font-size: 16px;
  }
}

@media only screen and (max-device-width: 600px) {
  .center-text {
    width: 82vw;
  }
  h1 {
    font-size: 140px;
    line-height: 95%;
  }
  .personal-info {
    font-size: 45px;
  }
  .balloon {
    transform: scale(1.1, 1.1);
  }
  .red {
    position: absolute;
    top: 15vw;
    left: 10vw;
  }
  .orange {
    position: absolute;
    top: 65vh;
    left: 15vw;
  }
  .yellow {
    position: absolute;
    top: 18vw;
    left: 45vw;
  }
  .green {
    position: absolute;
    top: 10vw;
    right: 10vw;
  }
  .blue {
    position: absolute;
    top: 72vh;
    right: 20vw;
    background-color: blue;
  }
  .purple {
    display: none;
    position: absolute;
    top: 38vw;
    right: 5vw;
    background-color: purple;
  }

  .arrow-text {
    /* font-size: 2em; */
    /* position: relative; */
    width: 500px;
    /* left: -7vh; */
    /* left: -40.25vw; */
    font-size: 39px;
    padding-bottom: 30px;
  }

  .arrow-container {
    width: 14vh;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .container {
    height: 87vh;
  }

  .home-top-spacer {
    height: calc(13vh + 100px);
  }

  .img-balloon-flowers {
    width: 55vw;
    /* margin-left: 5vw; */
  }

  .img-balloon-dress {
    width: 50vw;
    /* margin-left: 5vw; */
  }


  /* .img-discription {
    width: 35vw;
  } */

  .img-discription-text {
    font-size: 35px;
  }

  .smaller-img-discription-text {
    font-size: 32px;
  }

  .menu-imgs {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .menu-img {
    height: 38vw;
    width:38vw;
    /* box-shadow: 5px 5px 15px #bebebe; */
    margin: 20px;
  }

  .menu-img-caption {
    font-size: 2.2em;
    text-align: center;
    margin: 0px;
  }

  .menu-header {
    font-size: 4.5em;
  }
  .menu-hr {
    width: 60vw;
    margin-left: 20vw;
  }
  .menu-discription {
    width: 80vw;
    margin-left: 10vw;
    font-size: 2.2em;
  }


  footer {
    margin-top: 50px;
    height: 375px;
  }

  .footer-title {
    margin: 60px 5px 5px 5px;
    font-size: 3.9em;
    line-height: 90%;
  }

  .footer-contact {
    font-size: 2.2em;
    margin: 10px;
  }

  .bottom-footer-text {
    font-size: 1.8em;
    margin-bottom: 25px;
  }
}